.popularCont {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}
.popularUn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.prevnextBu{
  background-color:#6334e4;
  border:none;
  color:#ffffff;
  border-radius:8px;
  padding:5px;
}
.buttonCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  color: #ffffff;
  font-size: 12px;
  padding:10px;
}
@media screen and (min-width: 768px) {
  .popularCont {
    font-size: 25px;
  }
  prevnextBu{
    font-size:30px;
  }
  .buttonCont {
    font-size: 25px;
  }
  .popularUn {
    flex-direction: row;
    justify-content: space-between;
  }
}
